.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input{
    border: 2px solid gray;
    font-size: 34px;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 5px;
}

button{
    font-size: 23px;
    width: 104px;
    height: 43px;
    border-radius: 5px;
    cursor: pointer;
}